table{
  color: #6d6d6d;
}
.contentlistclients{
  margin: auto;
  width: 1100px;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 4px;
  color: #6d6d6d;
  background: #fff;
  -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
}
.content{
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 4px;
  color: #6d6d6d;
  background: #fff;
  -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
}
}
.btn-action-cad{
  float: right;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 4px;
  color: #6d6d6d;
  background: #fff;
  -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
}
.fa-plus-square{
  color: #24be24;
}
