/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #222d32;
    color: #b8c7ce;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #222d32;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #b8c7ce;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #1e282c;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #1e282c;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #222d32;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 1823px;
    height: 868px;
    min-height: 100vh;
    transition: all 0.3s;
}
.content-box{
  padding: 20px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.navbar-default{
  background: #222d32;
}
.btn-info{
  background: #b8c7ce;
  color: #222d32;
}
.btn-info:hover{
  background: #fff;
  color: #222d32;
}
.btn-info:focus{
  background: #b8c7ce;
  color: #222d32;
}
.btn-info:focus:hover{
  background: #fff;
  color: #222d32;
}
.btn-info:active{
  background: #b8c7ce;
  color: #222d32;
}
.btn-info:active:hover{
  background: #fff;
  color: #222d32;
}
.dropdown-menu{
  background: #222d32;
}
.aSubmenu{
  width: 115px;
  color: #b8c7ce !important;
}
.aSubmenu:hover{
  color: #fff !important;
  background: #1e282c !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
      background-color: #222d32;
}
/**
 * css DASHBOARD
 */
.tam{
  width: 400px;
  height: 310px;
  margin: auto;
}

 .contentClients{
   margin-top: 20px;
   border: 1px solid #ccc;
   padding: 0 5px;
   border-radius: 4px;
   color: #6d6d6d;
   background: #fff;
   -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
   -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
   box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
 }

.pdelete{
  color: #000;
}

.contentemployeer{
  width: 700px;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 4px;
  color: #6d6d6d;
  background: #fff;
  -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
}
.employeer{
  width: 730px;
}
.btn-right{
  display: block;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn-action:hover{
  color: #000;
}
.btn-action:hover i.fa-plus-square{
  color: #24be24;
}
.btn-action:hover i.fa-eye{
  color: #000;
}
.btn-action:hover i.fa-pencil{
  color: #2196f3;
}
.btn-action:hover i.fa-trash{
  color: #ad2a20;
}
 .btn-action{

     border: 1px solid #ccc;
     padding: 0 5px;
     border-radius: 4px;
     color: #6d6d6d;
     background: #fff;
     -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
     -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
     box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
 }
 .box-table{
   border: 1px solid #ccc;
   padding: 0 5px;
   border-radius: 4px;
   color: #6d6d6d;
   background: #fff;
   -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
   -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
   box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
 }
