.contentlistemployeer{
  margin: auto;
  width: 1000px;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 4px;
  color: #6d6d6d;
  background: #fff;
  -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,.39);
}
.pagination{
  float: right;
}
.dataTables_filter{
  float:right;
}
label{
  font-weight: normal;
}
