.dog{
  float: right;
}
.btn-rs{
  margin-left: 60px;
}
.btn-link{
  margin-left: 100px
}
.input-email{
  width: 370px !important;
  margin-top: 10px;
}
.input-pw{
  width: 370px !important;
}
.btn-login{
  width: 200px;
  margin-left: 94px;
}
.panel-login{
  width: 402px;
  float: right;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  transition: box-shadow 0.5s;
}
.panel-login:hover{
      box-shadow: 0 2px 24px rgba(0,0,0, .3) !important;
}
.col-login{
  z-index: 6;
}
